.item-header
  .container
    .row
      .col-sm-9
        .item-header-main
          %h1=item.title

          .author-info
            = gravatar_for item.user
            .author-name
              = "#{item.user.nickname} が #{item.created_at}に投稿しました。"

      .col-md-2
        #stock-action
          = render 'user/stocks/stock_btn'

